<div class="footer">
   
    <h3>Subhasankar@support.com</h3>
  <div class="icons">
      <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-reddit"></i>
    <i class="fa-solid fa-music"></i>

  </div>
 <div class="reserve">
  
    <p>All Rights Are Reserved <i class="fa-solid fa-copyright"></i> <span>2025</span></p>
 </div>

</div>