

<ul class="nav nav-tabs bg-warning">
  <li class="nav-item">
    <a class="nav-link bg-light" aria-current="page" href="#">Das Magazine</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>

 <% if (locals.user) { %>
   <li class="nav-item">
    <a class="nav-link " aria-disabled="true" href="/blog/add-new">Add Blogs</a>
  </li>
 <% } %>

 <li class="nav-item dropdown ms-5">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><% if (locals.user) { %>
     <img src="<%= user.profileImage %>" 
       width="35"
       height="35"
       style="border-radius:50%; object-fit:cover;">
  <%= user.fullName %>
    <% } else { %>
     Account 
    <% } %>
  </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/user/signin">SignIn</a></li>
      <li><a class="dropdown-item" href="/user/signup">SignUp</a></li>
       <% if (locals.user) { %>
             <li><a class="dropdown-item" href="/user/logout">Log Out</a></li>
       <% } %>
    </ul>
  </li>
  <form action="/blog/search" method="get">
   <input class="search" type="search" placeholder="Search blogs or users" name="q">
   <button type="submit" class="button"><i class="fa-solid fa-magnifying-glass"></i></button>
  
  </form>
</ul>

<% if (locals.error) { %>
 <div class="container mt-5">
  <div class="alert alert-danger" role="alert">
  <%= locals.error %>
</div>
 </div>
<% } %>